.hamburger {
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin-top:10px;
  overflow: visible;
}

.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--color-blue);
}

.hamburger-box {
  width: 18px;
  height: 13px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.5px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 18px;
  height: 1px;
  background-color: var(--color-blue);
  border-radius: 0;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner:after,
.hamburger-inner:before {
  content: "";
  display: block;
}

.hamburger-inner:before {
  top: -6px;
}

.hamburger-inner:after {
  bottom: -6px;
}

.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner:after,
.hamburger--vortex .hamburger-inner:before {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner:before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner:after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.is-active .hamburger-inner:after,
.hamburger--vortex.is-active .hamburger-inner:before {
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner:after {
  bottom: 0;
  transform: rotate(90deg);
}

.drawerToggle {
  position: relative;
  z-index: 51;
}

.drawerToggle .hamburger-box {
  vertical-align: middle;
}


@media (max-width: 450px) {
  .drawerToggle {
    padding: 0.3em 1em;
  }
}

.drawerRoot .background {
  background-color: #0b114c;
  cursor: unset;
}

.drawerRoot .dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  transform: unset;
  padding: unset;
  overflow: unset;
}

.drawerRoot .dropdown-content {
  width: 100%;
  max-height: 100%;
  background-color: unset;
  box-shadow: unset;
  padding: unset;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

:root:root:root
  .drawerRoot
  .dropdown-content
  > .dropdown-item {
  padding: unset;
}

.drawerItems {
  text-align: center;
}

.drawerItem.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.drawerItem:hover {
  background-color: hsla(0, 0%, 100%, 0.05);
}
